/* DEFAULT
__________________________________________________ */

*, html	{
	margin:0px;
	padding:0px;
	outline:none;
}

/* FONT FACE
__________________________________________________ */
body	{
	margin:0px;
	padding:0px;
	font:normal 14px 'Open Sans', Tahoma, sans-serif;
	color:#2d2d2d;
	background:#fff;
	overflow-x: hidden;
}

html[lang="th"] body {
	font:normal 14px 'Prompt', sans-serif;
}

a:link 		{ color:#2d2d2d; text-decoration: none; }
a:visited 	{ color:#2d2d2d; text-decoration: none;  }
a:hover 	{ color:#6b5543; text-decoration: none; }
a:active 	{ color:#2d2d2d; text-decoration: none;  }
a img 		{ border:none; }

h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
}

/* HEADER
__________________________________________________ */

#header	{
	position:relative;
	width:100%;
}
#header .header-line	{
	display: block;
	width: 100%;
	max-width: 960px;
	height: 2px;
	margin: 0 auto;
	background-color: #eee;
}
.headerpage	{
	height:385px !important;
}

/* Logo */
#header #logo {
	width:100%;
}
#logo #logoarea	{
	display: table;
	width:960px;
	margin:0 auto;
	padding: 10px 0;
}
#logoarea h1 {
	width: 43.75%;
}
#logoarea h1 a {
	display:block;
}
#logoarea h1 a span {
	display:none;
}
#logoarea h2 {
	width: 31.25%;
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
}
#logoarea h2 span {
	position: relative;
	display: inline-block;
	padding: 0 10px 0 14px;
	font-size: 13px;
	font-weight: normal;
}
#logoarea h2 span:before {
	content: '•';
	position: absolute;
	left: 0;
	display: inline-block;
}
#logoarea h2 span:first-of-type:before {
	display: none;
}
#logoarea > * {
	display: table-cell;
	vertical-align: middle;
}
/* Logo - Language */
#logoarea #language	{
	width: 25%;
	list-style:none;
	text-align: right;
}
#language li	{
	display:inline-block;
}
#language li a	{
	display:block;
	padding: 2px 7px 2px 8px;
	border-left: 1px #000 solid;
	font-size: 12px;
	text-transform: uppercase;
}
#language li:first-of-type a	{
	border-left-color: transparent;
}
#language li a.mnlgselect {
	font-weight: bold;
}
#language .mnen	{
	
}
#language .mnth	{
	
}
#language li a:hover,
#language .mnlgselect	{
	background-position:bottom !important;
}

/* Social */
#header #social	{
	position:fixed;
	top:140px;
	right: calc(50vw - 480px - 120px);
	width:32px;
	list-style:none;
	z-index:200;
}
#social li a	{
	margin: 5px 0;
	width:32px;
	height:32px;
	display:block;
	text-indent:-5000px;
	background: no-repeat center;
}
#social li a:hover	{
	opacity: 0.5;
}
#social .mnfacebook	{ background-image: url(../images/default/icon-facebook.png); }
#social .mnlinkedin	{ background-image: url(../images/default/icon-linkedin.png); }
#social .mndownload	{ background-image: url(../images/default/icon-download.png); }
#social .mncontact	{ background-image: url(../images/default/icon-email.png); }

/* Topmenu */
#header #menuarea	{
	width:100%;
	z-index:100;
}
#header #topmenu	{
	display: table;
	margin: 0 auto;
	width:960px;
	font-size:14px;
}
#header #topmenu:after {
	content: '';
	clear: both;
	display: block;
}
#topmenu li {
	list-style:none;
}
#topmenu > li	{
	position: relative;
	display: table-cell;
	padding: 0 15px;
}
/*#topmenu li:nth-child(1) { width:80px; }
#topmenu li:nth-child(2) { width:100px; }
#topmenu li:nth-child(3) { width:120px; }
#topmenu li:nth-child(4) { width:150px; }
#topmenu li:nth-child(5) { width:100px; }
#topmenu li:nth-child(6) { width:140px; }
#topmenu li:nth-child(7) { width:140px; }
#topmenu li:nth-child(8) { width:130px; }*/
#topmenu a	{
	display:block;
	padding:17px 0px;
	width:100%;
	text-decoration:none;
	text-transform: lowercase;
}
#topmenu li:hover a,
#topmenu .mnselect	{
	color:#471f0a;
	background:#fff;
	/*text-shadow: 0px 0px 3px #bfbfbf;*/
	z-index:11;
}

#topmenu li:hover > a,
#topmenu .mnselect	{
	font-weight: 700;
}

/* Topmenu - Sub Menu */
#topmenu .submenu	{
	position:absolute;
	top: -webkit-calc(100% - 17px);
	top: calc(100% - 17px);
	left: 0;
	padding-top:3px;
	padding-bottom: 5px;
	width:auto;
	min-width:180px;
	background-color: #fff;
	/*-webkit-box-shadow: 2px 2px 2px -2px #bbb;
	-moz-box-shadow: 2px 2px 2px -2px #bbb;
	box-shadow: 2px 2px 2px -2px #bbb;*/
	visibility: hidden;
	z-index:10;
}
#topmenu .submenu li	{
	clear:both;
	width:100% !important;
	text-align:left !important;
}
#topmenu .submenu li:hover a	{
	/*background:#e2d9d2 !important;*/
}
#topmenu .submenu a	{
	padding:1px 15px !important;
	width:auto !important;
	font-size: 13px;
	text-transform: lowercase;
	text-shadow:none !important;
	color:#494949 !important;
}
#topmenu .submenu a:hover	{
	/*color:#6b5543 !important;*/
	font-weight: 700;
}

/* Banner */
#header #banner	{
	height:420px;
	overflow:hidden;
}
#banner #slide	{
	position:relative;
	display: block;
	width:100%;
	height:100%;
	z-index:1;
}
#banner #bannerpage	{
	position:absolute;
	width: 100%;
	height: inherit;
	background: no-repeat center;
	background-size: cover;
	z-index:1;
}


/* CONTENT
__________________________________________________ */

#content	{
	width:100%;
	background:#fff;
}
#content #contentarea	{
	margin:auto;
	width:960px;
}

.slider-normal.owl-theme .owl-dots {
	position: absolute;
	bottom: 20px;
	display: block;
	width: 100%;
}

.slider-normal.owl-theme .owl-dots .owl-dot span {
	background-color: #fff;
}

.slider-normal.owl-theme .owl-nav {
	position: static;
	width: 100%;
	height: 1px;
	margin-top: 0;
}
.slider-normal.owl-theme .owl-nav > div {
	position: absolute;
	top: 50%;
	width: 20px;
	height: 125px;
	margin: -63px 0 0;
	padding: 0;
	background-color: transparent !important;
	background-repeat: no-repeat;
	text-indent: 999px;
}
.slider-normal.owl-theme .owl-nav > div.owl-prev {
	left: 40px;
	background-image: url(../images/content/hmprev.png);
	background-position: left center;
}
.slider-normal.owl-theme .owl-nav > div.owl-next {
	right: 40px;
	background-image: url(../images/content/hmnext.png);
	background-position: right center;
}


/* FOOTER
__________________________________________________ */

#footer	{
	position:relative;
	width:100%;
	background:#303030;
}
#footer #footerarea	{
	margin:auto;
	padding-top:13px;
	width:960px;
}

/* Map */
#footerarea	#maparea	{
	margin:auto;
	width:960px;
	height:53px;
	position:relative;
}
#maparea span,
#maparea a	{
	position:absolute;
	display:block;
	text-indent:-5000px;
}
#maparea .mapshadow	{
	bottom:0px;
	width:1200px;
	height:20px;
	margin-left: -120px;
	margin-right: -120px;
	background:url(../images/default/bgmap.png) no-repeat;
	z-index:20;
}
#maparea .mapshadow-left	{
	background-position: left 0;
}
#maparea .mapshadow-right	{
	background-position: right 0;
}
#maparea .mapup	{
	margin-left:447px;
	width:48px;
	height:33px;
	cursor:pointer;
	z-index:12;
}
#maparea .mapdown	{
	margin-left:447px;
	top:-83px;
	width:48px;
	height:33px;
	cursor:pointer;
	z-index:12;
}
#maparea .map	{
	left:50%;
	margin-left:-405px;
	width:810px;
	height:53px;
	background:url(../images/default/map.png) no-repeat;
	background-size: 100% auto;
	z-index:10;
}
#maparea a	{
	margin-top:38px;
	left:50%;
	margin-left:-356px;
	width:712px;
	height:15px;
	z-index:11;
}

/* Footer Menu */
#footerarea #footermenu	{
	margin:auto;
	padding-top:35px;
	list-style:none;
	text-align: center;
}
#footermenu li	{
	display: inline-block;
	padding:0px 35px;
	text-align:center;
	text-transform: lowercase;
}
#footermenu a	{
	color:#fff;
}
#footermenu a:hover,
#footermenu .mnselect	{
	color:#cc905e;
}

/* Bottom Menu */
#footerarea #bottommenu	{
	margin:auto;
	padding-top:45px;
	font-size:12px;
	list-style:none;
	text-align: center;
}
#bottommenu li	{
	display: inline-block;
	padding:0px 14px 0px 14px;
	text-align:center;
	border-right:1px solid #b49c89;
	text-transform: lowercase;
}
#bottommenu li:last-child	{
	border:none;
}
#bottommenu a	{
	color:#fff;
}
#bottommenu a:hover,
#bottommenu .mnselect	{
	font-weight: 700;
}

/* Copyright */
#footerarea #copyright	{
	padding-top:10px;
	padding-bottom:35px;
	text-align:center;
	font-size:12px;
	color:#fff;
	opacity: 0.3;
}
#copyright a	{
	color:#fff;
}
#copyright a:hover	{
	color:#e2d9d2;
}


/* CLEAR
__________________________________________________ */

.clearline	{
	clear:both;
}

/* Contact */
#info.infocontact #infoarea {
	width: 100%;
}

#info.infocontact .infotopic, #info.infocontact #infogallery {
	display: none;
}

#info.infocontact #infodetail, #info.infocontact #contact {
	float: left;
	display: block;
	width: 450px;
	margin-top: 0;
	padding-top: 0;
	border-top: 0;
}

#info.infocontact #infodetail {
	padding-right: 15px;
}

#info.infocontact #infodetail h3, #info.infocontact #contact h3 {
	padding-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    text-transform: lowercase;
}

#info.infocontact #contact {
	padding-left: 15px;
}

#info.infocontact #contact .box {
	max-width: 100%;
	background-color: #fff;
	border-color: #303030;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: inherit;
}

#info.infocontact #contact .formbutton .btsend {
	background-color: #303030;
}

#info.infocontact #contact .formbutton > input {
	border-radius: 0;
	text-transform: lowercase;
	font-family: inherit;
}

/* Download */
#info.infodownload #infoarea {
	width: 100%;
}

#info.infodownload .infotopic, #info.infodownload #infodetail {
	display: none;
}

.download-item > div:not(.clearline) {
	float: left;
	padding: 0 10px;
}

.download-item {
	margin-bottom: 40px;
}

.download-item .download-link {
	width: 160px;
	text-align: center;
}

.download-item .download-link a {
	display: inline-block;
	padding-top: 36px;
	background: url(../images/default/icon-download.png) no-repeat center top;
	text-decoration: underline;
	text-transform: lowercase;
}

.download-item .download-text {
	width: 630px;
}

.download-item .download-text h2 {
	ยฟกกรืเ-bottom: 15px !important;
}