/* WORK
__________________________________________________ */

#info #listwork	{
	padding:30px 10px 0px 10px;
	width:840px;
}
#listwork .workbox	{
	float:left;
	padding-left:22px;
	width:265px;
}
#listwork .clearwork	{
	padding-left:0px !important;
}
#listwork .workbox .workboxpic	{
	padding-bottom:25px;
}
#listwork .workbox .workboxpic	{
	padding-bottom:25px;
}
#listwork .workbox .workboxpic img	{
	width:265px;
	height:200px;
	background:url(../images/loading/large.gif) no-repeat #b49c89 center;
}
#listwork .workbox .workboxpic a:hover img	{
	opacity:0.9;
}
#listwork .workbox .workboxdetail	{
	padding-bottom:40px;
	font-size:12px;
	line-height:22px;
}
#listwork .workbox .workboxdetail h3	{
	font-size:12px;
	font-weight:normal;
}
#listwork .workbox .workboxdetail a,
#listwork .workbox .workboxdetail span	{
	display:block;
}
#listwork .workbox .workboxdetail .wtopic	{
	float:left;
	width:95px;
}
#listwork .workbox .workboxdetail .wtext	{
	float:left;
	width:170px;
}
#listwork .workbox .workboxdetail br	{
	clear:both;
}

/* Pagination */
#listwork #pagination	{
	margin:auto;
	padding-top:20px;
	width:140px;
	height:21px;
}
#pagination a	{
	position:absolute;
	display:block;
	width:21px;
	height:21px;
	text-indent:-5000px;
}
#pagination a:hover	{
	opacity:0.9;
}
#pagination .pnprev	{
	background:url(../images/content/pgprev.jpg) no-repeat
}
#pagination .pnnext	{
	margin-left:119px;
	background:url(../images/content/pgnext.jpg) no-repeat
}
#pagination span	{
	position:absolute;
	margin-left:21px;
	padding-top:3px;
	display:block;
	width:98px;
	font-size:14px;
	text-align:center;
	line-height:14px;
	color:#6b5543;
}