/* POPUP - WORK
__________________________________________________ */

*, html	{
	margin:0px;
	padding:0px;
	outline:none;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('../../font/raleway-regular-webfont.eot');
    src: url('../../font/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/raleway-regular-webfont.woff') format('woff'),
         url('../../font/raleway-regular-webfont.ttf') format('truetype'),
         url('../../font/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body	{
	margin:0px;
	padding:0px;
	font:normal 11px ralewayregular;
	color:#292929;
	background:#fff;
}

a:link 		{ color:#292929; text-decoration: none; }
a:visited 	{ color:#292929; text-decoration: none;  }
a:hover 	{ color:#6b5543; text-decoration: none; }
a:active 	{ color:#292929; text-decoration: none;  }
a img 		{ border:none; }

#work	{
	position:relative;
	width:940px;
	height:465px;
	overflow:hidden;
}

/* Picture */
#work #workpic	{
	float:left;
	width:700px;
	min-height:465px;
	background:url(../../images/loading/large.gif) no-repeat #b49c89 center;
}
#workpic img	{
	width:700px;
	height:465px;
	position:absolute;
}
#workpic .workpicback	{
	z-index:1;	
}
#workpic .workpicfront	{
	z-index:2;	
}

/* Information */
#work #workinfo	{
	float:left;
	padding-left:20px;
	width:220px;
}
#workinfo #workdetail	{
	padding-top:10px;
}
#workdetail h2	{
	padding:0px 30px 0px 32px;
	font-size:14px;
	font-weight:normal;
	line-height:22px;
	background:url(../../images/content/tpwork.png) no-repeat left center;
}
#workdetail p	{
	padding-bottom:15px;
	line-height:20px;
}
#workdetail .workintro	{
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #9c9a9a;
}
#workdetail span	{
	display:block;
}
#workdetail br	{
	clear:both;
}
#workdetail .wtopic	{
	float:left;
	width:85px;
}
#workdetail .wtext	{
	float:left;
	width:135px;
}

/* Gallery */
#workinfo #workgallery	{
	padding-top:15px;
}
#workgallery h3	{
	position:absolute;
	width:0px;
	text-indent:-5000px;
}
#workgallery img	{
	margin-left:16px;
	margin-bottom:15px;
	cursor:pointer;
}
#workgallery img:hover	{
	opacity:0.9;
}
#workgallery .nomargin	{
	margin-left:0px !important;
}

.clearline	{
	clear:both;
}